*.pyc
__pycache__/
.git/
.idea/
other/
log_Server/
data/CascadedTanksFiles/fromKoen
data/CascadedTanksFiles/PicsVideo
data/CascadedTanksFiles/TanksBenchmark.pdf
data/F16GVT_Files/
data/F16GVT_Files/F16GVT_Files.zip
data/F16GVT_Files/Figures/
data/F16GVT_Files/BenchmarkData/
data/F16GVT_Files/F16Benchmark.pdf
data/WienerHammersteinFiles/
data/WienerHammersteinFiles/data/
data/WienerHammersteinFiles/WH_SineSweepInput_meas.csv
data/Toy_LGSSM/old/
other/model_old/
