*.pyc
__pycache__/
.git/
.idea/
log_Server/
# data which are too big or not used
data/cascaded_tank.py
data/CascadedTanksFiles/*
data/f16gvt.py
data/F16GVT_Files/*
data/WienerHammersteinFiles/data/
data/WienerHammersteinFiles/WH_SineSweepInput_meas.csv
data/WienerHammersteinFiles/WH_MultisineFadeOut.csv
data/WienerHammersteinFiles/WH_TestDataset.csv
data/Toy_LGSSM/old/
